In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [35]:
df = pd.read_csv('Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [36]:
df.describe()

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
count,4888.000000,4888.000000,4662.000000,4888.000000,4637.000000,4888.000000,4843.000000,4862.000000,4748.000000,4888.000000,4888.000000,4888.000000,4822.000000,4655.000000
mean,202443.500000,0.188216,37.622265,1.654255,15.490835,2.905074,3.708445,3.581037,3.236521,0.290917,3.078151,0.620295,1.187267,23619.853491
std,1411.188388,0.390925,9.316387,0.916583,8.519643,0.724891,1.002509,0.798009,1.849019,0.454232,1.365792,0.485363,0.857861,5380.698361
min,200000.000000,0.000000,18.000000,1.000000,5.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1000.000000
25%,201221.750000,0.000000,31.000000,1.000000,9.000000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20346.000000
50%,202443.500000,0.000000,36.000000,1.000000,13.000000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22347.000000
75%,203665.250000,0.000000,44.000000,3.000000,20.000000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25571.000000
max,204887.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,3.000000,98678.000000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [38]:
df.drop('CustomerID', axis=1, inplace=True)
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [39]:
df.isnull().sum()

ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [40]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [41]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [42]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Unmarried', 'Single')

In [43]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married     2340
Single      1598
Divorced     950
Name: count, dtype: int64

In [44]:
columns_na = [col for col in df.columns if df[col].isnull().sum() >= 1]

for columns in columns_na:
    print(columns, np.round(df[columns].isnull().mean()*100, 5), '%missing values')

Age 4.62357 %missing values
TypeofContact 0.51146 %missing values
DurationOfPitch 5.13502 %missing values
NumberOfFollowups 0.92062 %missing values
PreferredPropertyStar 0.53191 %missing values
NumberOfTrips 2.86416 %missing values
NumberOfChildrenVisiting 1.35025 %missing values
MonthlyIncome 4.76678 %missing values

In [45]:
df.Age.fillna(df.Age.median(), inplace=True)

df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)

df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)

df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)

df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)

df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)

df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [46]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [47]:
df.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [48]:
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfChildrenVisiting', 'NumberOfPersonVisiting'], axis=1, inplace=True)

In [49]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Single,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Single,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [50]:
from sklearn.model_selection import train_test_split

X = df.drop('ProdTaken', axis=1)
y = df['ProdTaken']

In [51]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4888, dtype: int64

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

X_train.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
736,48.0,Self Enquiry,1,10.0,Salaried,Male,4.0,Standard,3.0,Single,1.0,0,5,1,Senior Manager,25999.0,4.0
1615,30.0,Self Enquiry,1,11.0,Large Business,Female,3.0,Basic,5.0,Married,6.0,0,5,0,Executive,18204.0,3.0
336,29.0,Self Enquiry,1,14.0,Salaried,Male,5.0,Basic,5.0,Divorced,2.0,1,3,1,Executive,17119.0,4.0
4526,29.0,Self Enquiry,3,9.0,Small Business,Female,4.0,Deluxe,4.0,Married,3.0,1,3,1,Manager,23457.0,5.0
2665,34.0,Self Enquiry,1,11.0,Small Business,Female,5.0,Basic,4.0,Divorced,8.0,0,4,0,Executive,21300.0,4.0

In [53]:
numeric_column = X.select_dtypes(exclude='object').columns
categoric_column = X.select_dtypes(include='object').columns

In [55]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transform = StandardScaler()
categoric_transform = OneHotEncoder(drop='first')

preprocessing = ColumnTransformer(
    [
        ("OneHotEncoder", categoric_transform, categoric_column),
        ("Numeric Transform", numeric_transform, numeric_column)
    ]
)

preprocessing

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('Numeric Transform', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [56]:
X_train = preprocessing.fit_transform(X_train)
X_test=preprocessing.transform(X_test)

In [25]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,-0.714031,-0.649789,0.280718,-0.727208,-1.217370,-0.632714,1.409081,0.781435,0.460318,-0.067869
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.714031,-0.527737,-0.719632,1.768057,1.504605,-0.632714,1.409081,-1.279697,-1.005668,-0.777901
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.161582,1.281068,1.768057,-0.672975,1.580492,-0.046813,0.781435,-1.209722,-0.067869
3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.470853,-0.771841,0.280718,0.520424,-0.128580,1.580492,-0.046813,0.781435,-0.017750,0.642163
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.527737,1.281068,0.520424,2.593396,-0.632714,0.681134,-1.279697,-0.423411,-0.067869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3416,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.649789,1.281068,-0.727208,-0.672975,-0.632714,-1.502707,0.781435,-0.531926,0.642163
3417,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.470853,-0.893893,-0.719632,1.768057,-1.217370,-0.632714,1.409081,0.781435,1.512744,-0.067869
3418,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.470853,1.547143,0.280718,-0.727208,2.049001,-0.632714,-0.774760,0.781435,-0.357400,0.642163
3419,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.470853,1.791246,1.281068,-0.727208,-0.128580,-0.632714,-1.502707,0.781435,-0.250765,0.642163
3420,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.771841,0.280718,-0.727208,-1.217370,1.580492,-0.046813,-1.279697,-1.071680,-1.487933

In [57]:
X_test

array([[ 0.        ,  0.        ,  0.        , ..., -1.27969734,
        -0.73033753, -0.777901  ],
       [ 1.        ,  0.        ,  0.        , ..., -1.27969734,
        -0.66394968, -0.06786916],
       [ 1.        ,  0.        ,  0.        , ...,  0.78143477,
        -0.417017  , -0.777901  ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.78143477,
        -0.08075222, -0.06786916],
       [ 1.        ,  0.        ,  1.        , ...,  0.78143477,
         1.97576639, -0.06786916],
       [ 1.        ,  0.        ,  1.        , ..., -1.27969734,
         1.28837951, -1.48793284]])

In [58]:
X_train

array([[ 1.        ,  0.        ,  1.        , ...,  0.78143477,
         0.4603181 , -0.06786916],
       [ 1.        ,  1.        ,  0.        , ..., -1.27969734,
        -1.00566841, -0.777901  ],
       [ 1.        ,  0.        ,  1.        , ...,  0.78143477,
        -1.2097217 , -0.06786916],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.78143477,
        -0.35739958,  0.64216267],
       [ 1.        ,  0.        ,  0.        , ...,  0.78143477,
        -0.25076528,  0.64216267],
       [ 0.        ,  0.        ,  1.        , ..., -1.27969734,
        -1.07168012, -1.48793284]])

In [61]:
y_train

736     0
1615    0
336     1
4526    0
2665    0
       ..
4426    0
466     0
3092    0
3772    0
860     1
Name: ProdTaken, Length: 3421, dtype: int64

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, \
                            precision_score, recall_score, f1_score, roc_auc_score,roc_curve

In [70]:
models = {
    'LinearRegression': LogisticRegression(),
    'RandomForestClassifier': RandomForestClassifier(),
    'DecisionTreeClassifier': DecisionTreeClassifier(),
    'GradientBoostingClassifier': GradientBoostingClassifier()
}


for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    y_train_predict = model.predict(X_train)
    y_test_predict = model.predict(X_test)



    # Train
    model_train_accuracy = accuracy_score(y_train, y_train_predict) 
    model_train_f1 = f1_score(y_train, y_train_predict, average='weighted') 
    model_train_precision = precision_score(y_train, y_train_predict) 
    model_train_recall = recall_score(y_train, y_train_predict) 
    model_train_rocauc_score = roc_auc_score(y_train, y_train_predict)
    # Test
    model_test_accuracy = accuracy_score(y_test, y_test_predict) 
    model_test_f1 = f1_score(y_test, y_test_predict, average='weighted') 
    model_test_precision = precision_score(y_test, y_test_predict) 
    model_test_recall = recall_score(y_test, y_test_predict) 
    model_test_rocauc_score = roc_auc_score(y_test, y_test_predict)


    print(f"Your model is: {list(models.values())[i]}")

    print("Train performances: ")
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(model_train_accuracy))
    print('- F1 score: {:.4f}'.format(model_train_f1))
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    print("-"*50)

    print('Test performances: ')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1 score: {:.4f}'.format(model_test_f1))
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    print("*"*50)
    print('\n')

Your model is: LogisticRegression()
Train performances:
Model performance for Training set
- Accuracy: 0.8451
- F1 score: 0.8188
- Precision: 0.7101
- Recall: 0.3034
- Roc Auc Score: 0.6373
--------------------------------------------------
Test performances:
- Accuracy: 0.8432
- F1 score: 0.8193
- Precision: 0.6719
- Recall: 0.3139
- Roc Auc Score: 0.6393
**************************************************


Your model is: RandomForestClassifier()
Train performances:
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
--------------------------------------------------
Test performances:
- Accuracy: 0.9271
- F1 score: 0.9216
- Precision: 0.9418
- Recall: 0.6496
- Roc Auc Score: 0.8202
**************************************************


Your model is: DecisionTreeClassifier()
Train performances:
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
- Roc Auc Score: 1.0000
--------------------------------------------------
Test performances:
- Accuracy: 0.8998
- F1 score: 0.9004
- Precision: 0.7244
- Recall: 0.7482
- Roc Auc Score: 0.8414
**************************************************


Your model is: GradientBoostingClassifier()
Train performances:
Model performance for Training set
- Accuracy: 0.8948
- F1 score: 0.8833
- Precision: 0.8803
- Recall: 0.5124
- Roc Auc Score: 0.7481
--------------------------------------------------
Test performances:
- Accuracy: 0.8766
- F1 score: 0.8628
- Precision: 0.7962
- Recall: 0.4562
- Roc Auc Score: 0.7147
**************************************************

In [71]:
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

In [72]:
randomcv_models = [
                   ("RF", RandomForestClassifier(), rf_params)
                   ]

In [73]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}

for name, model, param in randomcv_models:
    rsv = RandomizedSearchCV(estimator=model, param_distributions=param, cv=5, verbose=2)
    rsv.fit(X_train, y_train)
    model_param[name] = rsv.best_params_

for model in model_param:
    print(f"---------------- Best Params for {model} -------------------")
    print(model_param[model])

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=500; total time=   2.9s
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=500; total time=   2.7s
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=500; total time=   2.5s
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=500; total time=   2.5s
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=500; total time=   2.6s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.6s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.6s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.6s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.6s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.5s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   3.0s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   3.0s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   3.0s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   3.3s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   3.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=5, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=5, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.8s
[CV] END max_depth=5, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=5, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=15, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.3s
[CV] END max_depth=15, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.3s
[CV] END max_depth=15, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.4s
[CV] END max_depth=15, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.4s
[CV] END max_depth=15, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.4s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.9s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.9s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.9s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.9s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.9s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   4.1s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   4.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   3.8s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   3.9s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   3.9s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.7s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.9s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.8s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.8s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.7s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.8s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.8s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.8s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.8s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.8s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=500; total time=   2.6s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=500; total time=   2.9s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=500; total time=   2.6s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=500; total time=   2.6s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=500; total time=   2.8s
---------------- Best Params for RF -------------------
{'n_estimators': 200, 'min_samples_split': 8, 'max_features': 8, 'max_depth': 15}

In [74]:
models={
    
    "Random Forest":RandomForestClassifier(n_estimators=200,min_samples_split=8,
                                          max_features=8,max_depth=15)
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) 

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_accuracy = accuracy_score(y_train, y_train_pred) 
    model_train_f1 = f1_score(y_train, y_train_pred, average='weighted') 
    model_train_precision = precision_score(y_train, y_train_pred) 
    model_train_recall = recall_score(y_train, y_train_pred) 
    model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)


    model_test_accuracy = accuracy_score(y_test, y_test_pred) 
    model_test_f1 = f1_score(y_test, y_test_pred, average='weighted') 
    model_test_precision = precision_score(y_test, y_test_pred) 
    model_test_recall = recall_score(y_test, y_test_pred) 
    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred) 


    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(model_train_accuracy))
    print('- F1 score: {:.4f}'.format(model_train_f1))
    
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    
    
    print('----------------------------------')
    
    print('Model performance for Test set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1 score: {:.4f}'.format(model_test_f1))
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    
    print('='*35)
    print('\n')

Random Forest
Model performance for Training set
- Accuracy: 0.9772
- F1 score: 0.9767
- Precision: 0.9931
- Recall: 0.8854
- Roc Auc Score: 0.9420
----------------------------------
Model performance for Test set
- Accuracy: 0.9018
- F1 score: 0.8922
- Precision: 0.8869
- Recall: 0.5438
- Roc Auc Score: 0.7639
===================================